.csconfig/
_configuration.mk

**/__pycache__/
*.pyc
venv

bin/
logs/

**/*.o
**/*.d

test/000-test-main

tracer/pin/obj-intel64/

vcpkg_installed/

**/_build
**/_doxygen

.vscode

get_weights.py
plot_dse_geomean.py

SPEC_quick
weights-and-simpoints-speccpu/
log
figures
figures_final/
results/
results_final/
